.shop-container{
    width: 95%;
    margin-right: 0;
    display: flex;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    
    display: grid;
    grid-template-columns: repeat(3,30rem);
    gap: 5rem;
    justify-content: center;
}
.cart-container{
  
    background: red;
    height: 100vh;
}

@media screen and (max-width:1150px){
    .product-container{
    
        display: grid;
        grid-template-columns: repeat(2,30rem);
        gap: 5rem;
        justify-content: center;
    }
}
@media screen and (min-width:1150px) and (max-width:1450px){
    .product-container{
    
        padding-right: 4rem;
    }
}
